@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sprite {
    object-fit: cover;
    width: 100%;
}

.reverse {
    transform: scaleX(-1);
}