@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.invincible {
    animation-name: blinking;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.sprite {
    position: absolute;
    object-fit: cover;
    width: 100%;
}

.reverse {
    transform: scaleX(-1);
}