$background-page: rgb(13, 7, 48);
$background-underwater-fixed: #136b52;
$background-underwater-gradient: linear-gradient(0deg, rgba(38, 123, 60, 0.9) 0%, rgb(52, 80, 164) 25%, rgb(76, 90, 198) 49%, rgb(99, 129, 220) 75%, rgb(106, 173, 232) 100%);

$color-font-contrast: rgb(25, 27, 77);
$color-font-base: rgb(123, 185, 235);
$color-light-blue: lightblue;
$color-red: rgb(207, 8, 45);
$color-white: #fff;
$color-blur-backdrop: rgba(40, 40, 40, .3);

$color-instructions: rgb(252, 209, 54)