$background-page: rgb(13, 7, 48);
$background-underwater-fixed: #136b52;
$background-underwater-gradient: linear-gradient(0deg, rgba(19, 107, 82, 1) 0%, rgba(25, 141, 176, 1) 25%, rgba(41, 165, 196, 1) 49%, rgba(51, 193, 212, 1) 75%, rgba(121, 228, 242, 1) 100%);

$color-font-contrast: rgb(25, 27, 77);
$color-font-base: rgb(123, 185, 235);
$color-light-blue: lightblue;
$color-red: rgb(207, 8, 45);
$color-white: #fff;
$color-blur-backdrop: rgba(40, 40, 40, .3);

$color-instructions: rgb(252, 209, 54)