$gameboard-width: 90vw;
$gameboard-height: 45vw;

$player-hitbox-width: 4vw;
$player-hitbox-height: 2vw;
$player-attack-radius: 1.5vw;

$enemy-hitbox-width: 4vw;
$enemy-hitbox-height: 4vw;
$enemy-attack-radius: 1.5vw;