$gameboard-width: 80vw;
$gameboard-height: 40vw;
$modal-close-size: 2rem;

$player-hitbox-width: 4vw;
$player-hitbox-height: 2vw;
$player-attack-radius: 1.5vw;

$enemy-hitbox-width: 4vw;
$enemy-hitbox-height: 4vw;
$enemy-attack-radius: 1.5vw;