@use "../abstract/" as *;
$placeholder-player-color: rgb(193, 60, 160);

.player {
    position: absolute;
    width: $player-hitbox-width;
    height: $player-hitbox-height;
    background-color: $placeholder-player-color;
}