@use "../abstract/" as *;
$placeHolderColor: rgb(193, 60, 160);

.player {
    position: absolute;
    width: $player-hitbox-width;
    height: $player-hitbox-height;
    background-color: $placeHolderColor;
}